---
---

@import url('https://fonts.googleapis.com/css2?family=Poppins');
@import url(https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/0.0.0-5a9c68d/base.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/0.0.0-5a9c68d/components.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/0.0.0-5a9c68d/utilities.min.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
    a{
        outline: none;
    }
    font-family: 'Poppins', sans-serif;
    #image {
        transition: all 0.5s ease;
        background-position: center;
        &:hover {
            transform: scale(1.05);
        }
        ::after {
            background-color: black;
        }
    }
/*无背景图片*/
/*body{min-height:100%;max-width:100%; width: 600px;background: translate;margin: auto;text-align: center;}*/
/*背景图片*/
/*body{min-height:100%;background-color: #37435e;background: #37435e url("https://cdn.jsdelivr.net/gh/zibaicai/cdn/meinv.jpg") no-repeat fixed center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size:cover;max-width:100%; width: 600px;margin: auto;text-align: center;}*/
/*背景颜色*/
body{min-height:100%;max-width:100%; width: 600px;background-color:#e8f6f3;translate;margin: auto;text-align: center;} //淡蓝色背景

    .links {
        transition: all ease 0.25s;
        &:hover {
            transform: scale(1.05);
        }
        text-shadow: 0 0.05rem 0.25rem rgba(0, 0, 0, 0.05);
        &:hover {
            text-shadow: 0 0.15rem 0.50rem rgba(0, 0, 0, 0.15);
        }
        .fa-hand-paper{
            -moz-transform: scale(-1, 1) rotate(45deg);
            -webkit-transform: scale(-1, 1) rotate(45deg);
            -o-transform: scale(-1, 1) rotate(45deg);
            -ms-transform: scale(-1, 1) rotate(45deg);
            transform: scale(-1, 1) rotate(45deg);
        }
        #link-content {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
