---
layout: compress
---

<!DOCTYPE html>
<html lang="en">

<head>
    {%include meta.html%}
</head>

<body class="bg-black text-white">
    
    <div class="mx-auto my-auto w-screen">
        <div class="grid place-content-center min-w-full min-h-full py-10 px-7 my-auto min-h-screen absolute z-0">
 
 
            {% if site.footer and site.footer == 'Yes' or site.footer == 'yes' or site.footer == 'y' or site.footer == 'Y' %}<div
                class="flex absolute mt-5 z-20 bottom-0 bg-black bg-opacity-50 w-full p-2 justify-center">Made
                with&nbsp;<i class="fas fa-heart mt-1 mx-0.5 text-red-500"></i>&nbsp;by&nbsp;<a
                    class="underline font-semibold" href="https://harsh98trivedi.githubio">Harsh Trivedi</a></div>{% endif %}
        </div>
    </div>
    
</body>
</html>
